<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode-server" path="server.js" verb="*" modules="iisnode" />
      <add name="iisnode-server-cjs" path="server.cjs" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="NextApp" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{APPL_PHYSICAL_PATH}server.js" matchType="IsFile" />
            <add input="{APPL_PHYSICAL_PATH}server.cjs" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
